@font-face {
  font-family: "Danfo";
  src: local("DanfoStd"), url(./fonts/DanfoStd.otf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400&family=Domine:wght@400;500;600;700&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
} */

:root {
  --on-primary: #060606;
  --on-secondary: #fff;
}

.logo {
  margin-right: auto;
}

.page-container {
  height: auto;
  position: relative;
  min-height: 100vh;
  top: 0;
}

.content-wrapper {
  height: auto;
  position: absolute;
  width: 100vw;
  top: 20vh;
  padding-bottom: 60vh;
}

body {
  background-color: var(--primary);
  background: url(pink_grid.jpg), hsl(0, 0%, 100%);
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
}

.nav {
  background: #9d0018;
  position: absolute;
  width: 100vw;
  height: 20vh;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-image: url(sandpaper.png);
  /* filter: blur(2px); */
}

.nav-items {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: calc(13px + 0.9vw);
  line-height: 90px;
  text-align: center;
  /* top: 40px; */
  text-decoration: none;

  color: #333333;
}

.footer {
  position: absolute;
  bottom: 0;
  margin-top: auto;
  width: 100vw;
  height: 60vh;
  background: linear-gradient(180deg, rgba(218, 133, 204, 0) 0%, #8c3a47 100%);
  /* background-image: url(sandpaper.png); */
}

.thickOutlined {
  /* color: white; */
  text-shadow: 0px 10px 0.02px #ffffff, 9.8px 2.1px 0.02px #ffffff,
    4.2px -9.1px 0.02px #ffffff, -8px -6px 0.02px #ffffff,
    -7.6px 6.5px 0.02px #ffffff, 4.8px 8.8px 0.02px #ffffff,
    9.6px -2.8px 0.02px #ffffff, -0.7px -10px 0.02px #ffffff,
    -9.9px -1.5px 0.02px #ffffff, -3.5px 9.4px 0.02px #ffffff,
    8.4px 5.4px 0.02px #ffffff, 7.1px -7px 0.02px #ffffff,
    -5.4px -8.4px 0.02px #ffffff, -9.4px 3.5px 0.02px #ffffff,
    1.4px 9.9px 0.02px #ffffff, 10px 0.8px 0.02px #ffffff,
    2.9px -9.6px 0.02px #ffffff, -8.7px -4.8px 0.02px #ffffff,
    -6.6px 7.5px 0.02px #ffffff, 5.9px 8px 0.02px #ffffff,
    9.1px -4.1px 0.02px #ffffff, -2.1px -9.8px 0.02px #ffffff,
    -10px -0.1px 0.02px #ffffff, -2.2px 9.8px 0.02px #ffffff,
    9.1px 4.2px 0.02px #ffffff, 6.1px -8px 0.02px #ffffff,
    -6.5px -7.6px 0.02px #ffffff, -8.8px 4.7px 0.02px #ffffff,
    2.7px 9.6px 0.02px #ffffff, 10px -0.6px 0.02px #ffffff,
    1.5px -9.9px 0.02px #ffffff, -9.3px -3.6px 0.02px #ffffff,
    -5.5px 8.4px 0.02px #ffffff, 7px 7.2px 0.02px #ffffff,
    8.5px -5.3px 0.02px #ffffff, -3.4px -9.4px 0.02px #ffffff,
    -9.9px 1.3px 0.02px #ffffff, -0.8px 10px 0.02px #ffffff,
    9.6px 2.9px 0.02px #ffffff, 4.9px -8.7px 0.02px #ffffff,
    -7.5px -6.7px 0.02px #ffffff, -8.1px 5.9px 0.02px #ffffff,
    4px 9.2px 0.02px #ffffff, 9.8px -2px 0.02px #ffffff,
    0.2px -10px 0.02px #ffffff, -9.7px -2.3px 0.02px #ffffff,
    -4.3px 9px 0.02px #ffffff, 7.9px 6.1px 0.02px #ffffff;
}

.outline-shadow {
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.35);
}

.CTA-to-scroll {
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  font-size: calc(10px + 0.75vw);
}

.transparent {
  background: transparent;
}

h1 {
  background-color: var(--primary);
  font-family: "DM Sans", sans-serif;
  font-size: 15rem;
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
}

h2 {
  background-color: var(--primary);
  font-family: "Domine", serif;
  font-size: 1rem;
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
}

h3 {
  background-color: var(--primary);
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
  font-size: calc(15px + 0.75vw);
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
}

.big-intro-text {
  background-color: var(--primary);
  font-size: calc(20px + 1.5vw);
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.big-Danfo-text {
  background-color: var(--primary);
  font-family: "Danfo";
  font-size: 17vw;
  text-align: center;
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
  margin: 0;
}

.mid-Danfo-text {
  background-color: var(--primary);
  font-family: "Danfo";
  font-size: 6vh;
  text-align: center;
  color: var(--on-primary);
  transition: all 0.4s ease-in-out;
  margin: 0;
}

.center {
  margin: auto;
  width: 80%;
}

.main-body {
  padding-top: calc(40px + 5vw);
  padding-bottom: calc(20px + 4vw);
  max-width: 95vw;
  overflow: hidden;
}

.music-player {
  position: absolute;
  width: fit-content;
  height: 41px;
  right: 100px;
  top: 50px;

  background: #f3f3f3;
  box-shadow: inset 2px -4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 124px;

  font-family: "Spectral";
  font-style: italic;
  font-weight: 800;
  font-size: 8px;
  line-height: 12px;
  text-align: center;
  color: #929292;
}

.buttons {
  display: flex;
  padding: 5px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24.276px;
}

.button-item {
  padding-left: 15px;
}

.now-playing {
  font-family: "Domine";
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 11px;
  text-align: center; 

  color: #404040;
}

.line-break {
  padding: calc(20px + 4vw);
}

.item-spacing {
  padding-left: calc(14px + 3vw);
}

.nav-styles {
  padding: 20px;
  margin: 20px;
  font-size: 1.6rem;
  list-style: none;
  display: flex;
  text-decoration: none;
}

.works-section {
  min-height: 500px;
  overflow: hidden;
}

.me-section {
  display: flex;
}

.me-data {
  height: 2000px;
  width: 600vw;
  float: right;
}

.me-writeup {
  font-size: calc(15px + 1vw);
  font-weight: 400;
  float: left;
}

.highlighted-text {
  font-family: "Spectral";
  font-weight: 700;
  font-style: italic;
}

/* Small and extra small devices (phones, portrait tablets and large phones, 768px and down) */
@media screen and (max-width: 800px) {
  .project-grid {
    max-width: 95vw;
    display: flex;
    position: absolute;
  }

  .project-card {
    width: auto;
    position: relative;
  }

  .project-preview {
    position: relative;
    overflow: hidden;
    /* padding: calc(10px + 0.3vw); */
    background-color: black;
    width: calc(30px + 80vw);
    height: calc(30px + 50vw);
    display: flex;
    /* justify-content: center; */
    vertical-align: middle;
  }

  .project-title {
    /* width: 40rem; */
    /* padding: 10px; */
    /* font-family: "Spectral";
    font-weight: 700;
    font-style: italic; */
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
    font-size: calc(16px + 0.8vw);
    color: #0f2b3d;
  }

  .project-thumbnail {
    overflow: hidden;
    /* min-width: 20rem;
    max-width: 90%; */
    width: 80vw;
    height: 50vw;
    position: absolute;
    display: flex;
    /* justify-content: center;
    vertical-align: middle; */
    margin: 15px;
  }

  .project-photo {
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    /* margin: 0 -100%; */
    /* position: absolute; */
  }

  .project-slogan {
    color: #545151;
    text-align: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: calc(16px + 1vw);
  }

  .project-headline {
    padding-top: 10px;
  }

  .medium-tag {
    border-radius: 25px;
    margin-right: 10px;
    margin-top: calc(2px + 0.3vw);
    float: left;
    height: 30px;

    /* padding-top: 0.1px;
    padding-bottom: 1px; */
    width: fit-content;
  }

  .medium-title {
    font-size: calc(10px + 0.3vw);
    font-weight: 400;
    padding-top: calc(1px + 0.3vw);
    padding-bottom: calc(1px + 0.3vw);
    padding-left: 17px;
    padding-right: 17px;
    margin: 0;
  }

  .FadeEffect {
    /* min-width:100px;
  max-width:none; */
    width: 100%;
    height: 100%;
    /* margin: 0 -100%; */
    position: absolute;
    /* margin: 20px; */
    /* height: 250px;
  top: 0;
  left: 100px; */
    background-color: whitesmoke;
  }
}

/* Medium, large and extra large devices (landscape tablets, laptops, desktops and large laptops and desktops, 768px and down) */
@media screen and (min-width: 800px) and (max-width: 1225px) {
  .project-grid {
    max-width: 95vw;
    display: flex;
    position: absolute;
  }

  .project-card {
    width: auto;
    position: relative;
  }

  .project-preview {
    position: relative;
    overflow: hidden;
    /* padding: calc(10px + 0.3vw); */
    background-color: black;
    width: calc(30px + 35vw);
    height: calc(30px + 22vw);
    display: flex;
    /* justify-content: center; */
    vertical-align: middle;
  }

  .project-title {
    /* width: 40rem; */
    /* padding: 10px; */
    /* font-family: "Spectral";
    font-weight: 700;
    font-style: italic; */
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
    font-size: calc(16px + 0.8vw);
  }

  .project-thumbnail {
    overflow: hidden;
    /* min-width: 20rem;
    max-width: 90%; */
    width: 35vw;
    height: 22vw;
    position: absolute;
    display: flex;
    /* justify-content: center;
    vertical-align: middle; */
    margin: 15px;
  }

  .project-photo {
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    /* margin: 0 -100%; */
    /* position: absolute; */
  }

  .project-slogan {
    color: #545151;
    text-align: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: calc(14px + 1vw);
  }

  .project-headline {
    padding-top: 10px;
  }

  .medium-tag {
    border-radius: 25px;
    margin-right: 10px;
    margin-top: calc(5px + 0.3vw);
    float: left;
    height: 30px;

    /* padding-top: 0.1px;
    padding-bottom: 1px; */
    width: fit-content;
  }

  .medium-title {
    font-size: calc(10px + 0.3vw);
    font-weight: 400;
    padding-top: calc(2px + 0.3vw);
    padding-bottom: calc(2px + 0.3vw);
    padding-left: 17px;
    padding-right: 17px;
    margin: 0;
  }

  .FadeEffect {
    /* min-width:100px;
  max-width:none; */
    width: 100%;
    height: 100%;
    /* margin: 0 -100%; */
    position: absolute;
    /* margin: 20px; */
    /* height: 250px;
  top: 0;
  left: 100px; */
    background-color: whitesmoke;
  }
}

@media screen and (min-width: 1225px) {
  .project-grid {
    max-width: 95vw;
    display: flex;
    position: absolute;
  }

  .project-card {
    width: auto;
    position: relative;
  }

  .project-preview {
    position: relative;
    overflow: hidden;
    /* padding: calc(10px + 0.3vw); */
    background-color: black;
    width: calc(30px + 25vw);
    height: calc(30px + 16vw);
    display: flex;
    /* justify-content: center; */
    vertical-align: middle;
  }

  .project-title {
    /* width: 40rem; */
    /* padding: 10px; */
    /* font-family: "Spectral";
    font-weight: 700;
    font-style: italic; */
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: italic;
    font-size: calc(16px + 0.8vw);
  }

  .project-thumbnail {
    overflow: hidden;
    /* min-width: 20rem;
    max-width: 90%; */
    width: 25vw;
    height: 16vw;
    position: absolute;
    display: flex;
    /* justify-content: center;
    vertical-align: middle; */
    margin: 15px;
  }

  .project-photo {
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    /* margin: 0 -100%; */
    /* position: absolute; */
  }

  .project-slogan {
    color: #545151;
    text-align: center;
    width: 100%;
    padding-left: 5px;
    padding-right: 5px;
    font-weight: 500;
    font-size: calc(12px + 1vw);
  }

  .project-headline {
    padding-top: 10px;
  }

  .medium-tag {
    border-radius: 25px;
    margin-right: 10px;
    margin-top: calc(5px + 0.3vw);
    float: left;
    height: 30px;

    /* padding-top: 0.1px;
    padding-bottom: 1px; */
    width: fit-content;
  }

  .medium-title {
    font-size: calc(10px + 0.3vw);
    font-weight: 400;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 17px;
    padding-right: 17px;
    margin: 0;
  }

  .FadeEffect {
    /* min-width:100px;
  max-width:none; */
    width: 100%;
    height: 100%;
    /* margin: 0 -100%; */
    position: absolute;
    /* margin: 20px; */
    /* height: 250px;
  top: 0;
  left: 100px; */
    background-color: whitesmoke;
  }
}

.overlay {
  position: absolute;
  transition: all 0.4s ease;
  opacity: 0;
  display: flex;
  align-items: center;
}

.project-preview:hover .overlay {
  opacity: 0.9;
}

a:visited {
  text-decoration: none;
  color: var(--on-primary);
}

.nav div:hover {
  color: #777;
}
